<%= link_to 'Back', tasks_path %>


<h2> <%= @task.title%> </h2>
  <p><%= @task.description%> </p>
  <ul>
    <li> Due Date: <%= @task.due_date%> </li>
    <li> Completed: <%= @task.complete%> </li>
    <li> Completion Date: <%= @task.completion_date %> </li>
  </ul>

  <%=button_to "Complete", complete_task_path, method: :patch %>
  <%=button_to "Edit", edit_task_path(@task.id), method: :get%>
  <%=button_to "Delete", delete_task_path(@task.id), method: :delete, data: {confirm: "Are you sure?"} %>
