<h2> <%= @task.title%> </h2>
  <p><%= @task.description%> </p>
  <ul>
    <li> Due Date: <%= @task.due_date%> </li>
    <li> Completed: <%= @task.complete%> </li>
  </ul>

  <%=button_to "Edit", edit_task_path, method: :get%>
