<h2> <%= @task.title%> </h2>
  <p><%= @task.description%> </p>
  <ul>
    <li> Due Date: <%= @task.due_date%> </li>
    <li> Completed: <%= @task.complete%> </li>
  </ul>

  <%=button_to "Edit", edit_task_path(@task.id), method: :get%>
  <%=button_to "Delete", delete_task_path(@task.id), method: :patch%>
  <!-- <%=button_to "Delete", delete_task_path(@task.id), method: :get%> -->
